<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<style>
    h1 {
        text-align: center;
    }

    /*#guessDiv{*/
    /*    align-self: center;*/
    /*    align-items: center;*/
    /*    border: black;*/
    /*}*/
</style>
<body>
<h1 th:text="${randomWord}">hello</h1>
</hr>

<div id="guessDiv" align="center">
    <form method="GET" action="home">
        <label>Guess char</label>
        <input type="text" name="guessChar" minlength="1" maxlength="1" required="required">
        <input type="submit" value="enter">
    </form>
</div>
</body>
</html>